.bg-gradient-primary{
    background: #2c2c2c;
    background-image: none;
}

.sidebar .nav-item .nav-link span{
    color: white;
}

.sidebar .nav-item .nav-link span{
    color: white;
}

.sidebar-dark .sidebar-heading{
    color: white;
}

.sidebar-dark .sidebar-brand{
    color:#f9b131;
}
/*Barra horizontal*/
.bg-white {
    background-color: #f9b131!important;
}

.text-primary{
    color: #2c2c2c!important;
}

/*Estacionar*/
.border-left-primary{
    border-left: .25rem solid #52ff00!important;
}
/*Sair*/
.border-left-success{
    border-left: .25rem solid #ff110b!important;   
}
/*LOTAÇÃO*/
.border-left-info{
    border-left: .25rem solid #ff6f00!important;
}
/*VAGAS*/
.border-left-warning{
    border-left: .25rem solid #f9b131!important;
}
/*Tag user*/
.text-gray-600{
color: #2c2c2c!important;
}

.btn-primary{
    color: #f9b131;
    border:#2c2c2c ;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}
.btn-primary:hover{
    color: #2c2c2c;
    background-color: #f9b131;
    border-color: #f9b131;
}
.sidebar-divider {
    color: blue!important;
}
.bg-login-image{background:url(/SmartParkApp/polls/static/img/login.png);
    background-position:center;background-size:cover}